
<div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
        <form [formGroup]="signInForm" (ngSubmit)="signinUser()" submitted novalidate>
            <div class="form-group">
                <label for="email">Email </label>
                <input formControlName="email" class="form-control" type="text">
                <span class="alert alert-danger" *ngIf="!signInForm.get('email').valid && signInForm.get('email').touched">
                    <span class="alert alert-danger" *ngIf="signInForm.get('email').errors['pattern']">Enter valid Email</span>
                    <span class="alert alert-danger" *ngIf="signInForm.get('email').errors['required']">Enter the Email First</span>
                </span>
            </div>

            <br>
            <div class="form-group">
                <label for="password">Password </label>
                <input formControlName="password" class="form-control" type="password">
                <span class="alert alert-danger" *ngIf="!signInForm.get('password').valid && signInForm.get('password').touched">
                    <span class="alert alert-danger" *ngIf="signInForm.get('password').errors['pattern']">Enter valid Password</span>
                    <span class="alert alert-danger" *ngIf="signInForm.get('password').errors['required']">Enter the Password first</span>
                </span>

            </div>
            <button style="cursor:pointer" type="submit" class="btn btn-primary ">Sign In</button>
        </form>
    </div>
</div>